{
 :source-paths ["src/main"]

 :dependencies
 [[reagent "0.10.0"]
  [metosin/reitit "0.4.2"]]

 :dev-http {3333 "assets/"}

 :nrepl {:host "0.0.0.0" :port 8910}

 :builds
 {:app {:target             :browser
        :output-dir         "assets/js"
        :asset-path         "/js"
        :modules            {:main {:init-fn stufft.ui.core/main!}}
        :compiler-options   {:infer-externs :auto}}}}
